 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }

 

nav .brand-logo {
    margin-left: 20px;
}

html { 
  background: url(bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.intro{
    font-size: 60px;
    text-align: center;
    margin: 0px;
    text-align: center;
    color: white;
}

#error_explanation{
    font-size: 10px;
    color: red;
    padding: 24px;

}

#error_explanation h2{
    font-size: 2rem;
    line-height: 100%;
    margin: 1.78rem 0 1.424rem 0;
    color: red;
}

.cardcenter{
    left: 50%;
}

.toast{
    background-color: #0da6ef;
}