<<<<<<< HEAD
<h1>Witaj w SCRUManager</h1>
<p>Zaloguj się albo zarejestruj</p>

<%= link_to("Logowanie",new_user_session_path) %>
<%= link_to("Rejestracja",new_user_registration_path) %>
=======
<p>YOLO</p>
>>>>>>> origin/master
